{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('list_heading list_white-md tw-font-bold md-tw-font-normal md-tw-mt-16 menu_main tw-flex tw-flex-wrap md-tw-flex-no-wrap tw-justify-between') }}>
    {% else %}
        <div class="bg--white tw-absolute tw-inset-x-0 tw-z-10 menu_main--sub tw-w-screen tw-flex tw-invisible tw-mt-4">
          <div class="container container--header">
            <div>
              <h2>{{ title }}</h2>
            </div>
            <div>
              <h3>In this section</h3>
              <ul class="list list--bullet list--row">
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('tw-text-base sm-tw-text-md md-tw-text-base tw-static tw-w-full md-tw-w-auto tw-flex tw-justify-between tw-content-center md-tw-items-end tw-border-b md-tw-border-0') }}>
        {{ link(item.title, item.url, { class: ['md-tw-text-center tw-py-8 md-tw-p-2 tw-w-11/12 md-tw-w-full'] }) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
        <span class="disappear-md md-tw-text-lg sm-tw-text-xl tw-flex tw-justify-end tw-content-center tw-pt-10 tw-pb-8 sm-tw-py-8 tw-w-1/12"><i class="fas fa-chevron-right"></i></span>
      </li>
    {% endfor %}
    </ul>
{#    {% if menu_level >= 0 %}#}
{#    </div>#}
{#    </div>#}
{#    {% endif %}#}
  {% endif %}
{% endmacro %}
