{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level, this_title, this_description) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('list_heading list_white-md tw-font-bold md-tw-font-normal md-tw-mt-16 menu_main tw-flex tw-flex-wrap md-tw-flex-no-wrap tw-justify-between') }}>
    {% else %}
        {% include '@cybersecurity/partials/submenu_wrapper.html.twig' %}
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass(menu_level == 0 ? 'menu_main--item', menu_level != 0 ? 'menu_main--sub--item') }}>
        {% if menu_level == 0 %}
          {{ link(item.title, item.url, { class: ['md-tw-text-center md-tw-py-8 md-tw-p-2 md-tw-w-full md-tw-self-end md-tw-visible disappear md-tw-h-auto'] }) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% include '@cybersecurity/partials/submenu_mobile-item.html.twig' %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, item.title, item.original_link.pluginDefinition.description) }}
        {% endif %}

      </li>
    {% endfor %}
    </ul>
    {% if menu_level != 0 %}
    </div>
    </div>
          <div class="menu_main--grad tw-self-end tw-w-full tw-max-h-screen tw-absolute tw-z-20"></div>
        </div>
    {% endif %}
  {% endif %}
{% endmacro %}
