{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level, this_title, this_description) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('list_heading list_white-md tw-font-bold md-tw-mt-16 menu_main tw-flex tw-flex-wrap md-tw-flex-no-wrap tw-justify-between') }}>
    {% else %}
      {% include '@cybersecurity/partials/submenu_wrapper.html.twig' %}
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass(menu_level == 0 ? 'menu_main--item' : 'menu_main--sub--item', item.in_active_trail ? 'is-active') }}>
        {% if menu_level == 0 and item.title != 'Home' %}
          <span class="menu_main--item-text tw-self-center tw-text-base tw-text-heading tw-w-full md-tw-w-auto sm-tw-text-md md-tw-text-center md-tw-pt-8 md-tw-px-2 md-tw-w-full md-tw-h-auto md-tw-self-end md-tw-text-white md-tw-text-base tw-cursor-pointer">{{ item.title }}</span>
          <span class="next tw-cursor-pointer disappear-md md-tw-p-0 md-tw-text-lg sm-tw-text-xl tw-flex tw-justify-end tw-content-center tw-text-heading tw-pt-10 tw-pb-8 sm-tw-py-8 tw-w-1/12">
            <i class="fas fa-chevron-right"></i>
          </span>
        {% elseif menu_level == 0 and item.title == 'Home' %}
          {{ link(item.title, item.url, { class: ['tw-self-center tw-text-base tw-text-heading tw-py-8 sm-tw-text-md md-tw-text-center tw-pb-md-tw-px-2 md-tw-w-full md-tw-h-auto md-tw-self-end md-tw-text-white md-tw-text-base'] }) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, item.title, item.original_link.pluginDefinition.description) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% if menu_level != 0 %}
      </div>
      </div>
      <div class="menu_main--grad tw-self-end tw-w-full tw-max-h-screen tw-absolute tw-z-20"></div>
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}

