{% if content %}
  <div class="ag_wrapper tw-bg-highlight tw-w-full tw-my-8 md-tw-my-12 tw-py-8 md-tw-pt-16">
    <div class="container">
      <div {{ attributes.addClass(settings.extra_classes) }}>
        {% if content.title %}
          {{ content.title }}
        {% endif %}
        <div class="ag_layout layout__region--left">
          {{ content.left }}
        </div>
        <div class="ag_layout layout__region--center">
          {{ content.center }}
        </div>
        <div class="ag_layout layout__region--right">
          {{ content.right }}
        </div>
      </div>
    </div>
  </div>
{%  endif %}
{% block regions %}

{% endblock %}
