<div class="container container--header tw-mx-auto">
  <div class="header-hero tw-flex tw-flex-wrap tw-justify-between tw-px-8 max-tw-px-0 tw-mx-4">
    <header role="banner" class="tw-w-full md-tw-w-1/2">
      {{ page.header }}
    </header>

    {{ page.hero }}
  </div>

  {{ page.secondary_menu }}

  {{ page.primary_menu }}

  {% if page.highlighted %}
    {{ page.highlighted }}
  {% endif %}
</div>


