<div class="container container--header tw-mx-auto">
  <div class="header-hero tw-flex tw-flex-wrap tw-justify-between tw-px-8 max-tw-px-0 tw-mx-4">
    <header role="banner" class="tw-w-full md-tw-w-1/2">
      {{ page.header }}
    </header>

    {{ page.hero }}
  </div>

  <div class="tw-flex tw-flex-col md-tw-flex-col md-tw-flex-none md-tw-visible tw-bg-white md-tw-bg-transparent tw-px-4 sm-tw-px-16 md-tw-px-0 menu-mob">
    <div class="disappear-md tw-h-1 tw-bg-heading tw-w-1/3 tw-mt-12 tw-mx-8"></div>
    <div class="tw-flex tw-justify-between disappear-md tw-mx-8">
      <h2 class="tw-pt-6 tw-pb-12 tw-w-1/4 tw-text-md sm-tw-text-lg">{{ 'Menu'|t }}</h2>
      <span class="menu-close disappear-md tw-cursor-pointer tw-w-1/4 tw-pt-6 tw-text-lg sm-tw-text-xl tw-flex tw-justify-end"><i class="fas fa-times"></i></span>
    </div>

    {{ page.secondary_menu }}

    {{ page.primary_menu }}
  </div>


  {% if page.highlighted %}
    {{ page.highlighted }}
  {% endif %}
</div>


